
.header{
    display: flex;
    position: sticky;
    top: 0px;
    justify-content: center;
    font-size: large;
    gap: 40px;
    background-color: aqua;
}

.spilt{
    display: flex;
    gap: 100px;
    width: 1500x;
    height: 3000px;
    border: 3px solid #000000;
    font-size: large;
}

.row_article{
    padding-left: 40px;
}
 .side_bar{
    padding-left: 20px;
 }


 .article{
    border: 1px solid #000000;
 }