body{
    background-color: #EAE7DC;
}

.header{
    display: flex;
    position: sticky;
    top: 0px;
    justify-content: center;
    font-size: large;
    gap: 40px;
    background-color: #7E6A24;;
}

#logo_name{
    position: relative;
    right: 200px;
    font-size: 30px;
    color:#7E4424; 
}
.link{
    position: relative;
    right: 30px;
    top: 20px;
    font-size: 20px;
    color: white;
}


a:link#jump{
    color: #787D24;
    text-decoration: underline;    
}

a:visited#jump{
    color: #7E4424;
    text-decoration: underline;    
}

a:link#article_link1{
    color: #787D24;
    text-decoration: underline;    
}

a:link#article_link2{
    color: #787D24;
    text-decoration: underline;    
}
a:link#article_link3{
    color: #787D24;
    text-decoration: underline;    
}
a:link#article_link4{
    color: #787D24;
    text-decoration: underline;    
}
a:link#article_link5{
    color: #787D24;
    text-decoration: underline;    
}
a:link#article_link6{
    color: #787D24;
    text-decoration: underline;    
}
a:link#article_link7{
    color: #787D24;
    text-decoration: underline;    
}


a:visited#article_link1{
    color: #7E4424;
    text-decoration: underline;    
}
a:visited#article_link2{
    color: #7E4424;
    text-decoration: underline;    
}
a:visited#article_link3{
    color: #7E4424;
    text-decoration: underline;    
}
a:visited#article_link4{
    color: #7E4424;
    text-decoration: underline;    
}
a:visited#article_link5{
    color: #7E4424;
    text-decoration: underline;    
}
a:visited#article_link6{
    color: #7E4424;
    text-decoration: underline;    
}
a:visited#article_link7{
    color: #7E4424;
    text-decoration: underline;    
}


.main_bisual{
    margin: 10px;
    margin-left: 100px;
}
#description_tamanegi{
    width: 1000px;
    height: 200px;
}

.spilt{
    display: flex;
    gap: 25px;
    margin-left: 30px;
    width: 1200px;
    height: 2250px;
    border: 3px solid #787D24;
    font-size: large;
}

.row_article{
    padding-left: 40px;
    width:750px;
    height:2250px;
    border: 1px solid #787D24;


}

.article{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 750px;
    height: 175px;
    border: 1px solid #333333;
    color: #333333 ;
 }

 .title{
    margin: 3px;
 }
.picture{
    width: 150px;
    height: 100px;
    
}

 .side_bar{
    width: 350px;
    height: 2000px;
    border: 3px solid #7E4424;
    
 }

 .small_side_contents{
    margin-top: 85px;
    margin-bottom: 20px;
    width: 350px;
    height: 200px;
    border: 1px solid #333333
 }

 .big_side_contents{
    margin-top: 85px;
    margin-bottom: 20px;
    width: 350px;
    height: 400px;
    border: 1px solid #333333
 }    


 .footer{
    display: flex;
    justify-content: center;
    gap: 20px;
 }


 